.heading h2 {
  background: linear-gradient(
    90deg,
    rgba(104, 22, 205, 10) 0%,
    rgba(56, 94, 241, 1) 36%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
  font-weight: bold;
  line-height: 50px;
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 993px) {
  .heading h2 {
    font-size: 30px;
    line-height: 40px;
  }
}

@media screen and (max-width: 600px) {
  .heading h2 {
    font-size: 25px;
    line-height: 35px;
  }
}

@media screen and (max-width: 400px) {
  .heading h2 {
    font-size: 20px;
    line-height: 30px;
  }
}
