#ecosystem {
  position: relative;
}
#ecosystem .leftside h2 {
  font-size: 35px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  line-height: 45px;
  color: #262626;
  margin-bottom: 50px;
}
#ecosystem .leftside p {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: #1f1f1f;
}

/* right side */
#ecosystem .rightside h2 {
  font-size: 30px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  line-height: 35px;
  color: #7e3adb;
  text-align: center;
}
#ecosystem .rightside b {
  font-size: 20px;
  text-align: left;
  line-height: 30px;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

#ecosystem .rightside {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding-left: 60px;
}
.BusinessEcosystem .companylogo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.BusinessEcosystem .companylogo .imgbox {
  width: 25%;
  margin: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imgbox img {
  width: 100%;
  max-width: fit-content;
}

.eco-right:before {
  content: "";
  width: 50%;
  height: 100%;
  background: #d9d9d9;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
}

#ecosystem .leftside p {
  font-family: "Montserrat";
  font-size: 20px;
  color: black;
  font-weight: 400;
  line-height: 30px;
  text-align: justify;
}

#ecosystem .eco-left {
  padding-right: 50px;
}

/* 
.col-lg-6.col-md-6.col-sm-12.col-12.positionsss:before {
    display: block;
    content: "";
    width: 49%;
    overflow: hidden;
    height: 100vh;
    background: #d9d9d9;
    position: absolute;
    z-index: -1;
} */

.blockchain {
  width: 150px;
  margin: 20px auto;

}
.blockchain img {   
    max-width: 100%;
}

.BlockchainEcosystem ol li {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
}
.BlockchainEcosystem ol li .ml {
  display: block;
  margin-left: 20px;
}
@media screen and (max-width : 1200px) {
    #ecosystem .rightside {
        height: 70%;
        padding-left: 40px;
    }
    
}

@media screen  and (max-width : 993px){
    #ecosystem .rightside {
        height: 60%;
    }

    #ecosystem .leftside h2{
        font-size: 30px;
    line-height: 40px;
    }
    #ecosystem .rightside h2{
        text-align: start;
        font-size: 25px;
        line-height: 35px;
    }
    /* #ecosystem .rightside{
        height: auto;
    } */
    
}

@media screen  and (max-width : 768px){
    #ecosystem .eco-left{
        padding-right: 12px;
    }
    #ecosystem .rightside{
        padding-left: 0;

    }
    .rightside .BusinessEcosystem {
        padding-top: 60px;
    }
    .eco-right:before {
     
        width: 100%;
        height: 40%;
        /* height: -1; */
        z-index: -1;
        top: unset;
        bottom: 0;
    }
    
}
@media screen  and (max-width : 601px){
    .eco-right:before {
        /* height: 48%; */
    }
    #ecosystem .leftside h2{
        font-size: 25px;
        line-height: 35px;
        margin-bottom: 25px;
    }
    .BlockchainEcosystem ol li,
    #ecosystem .rightside b,
    #ecosystem .leftside p{
        font-size: 15px;
        line-height: 25px;
    }
    
}