/* font-family: Neuropol_X_Light; */
/* font-family: Neuropol_X_Bold; */
/* font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif; */


span.cw {
    font-family: Neuropol_X_Light;
    font-size: 25px;
}
span.cw .cwb {
    font-family: Neuropol_X_Bold;
}