@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Open+Sans:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* global padding */

/* .introduction .top  */
/* .introduction .bottom  */
#indextoken,
#ecosystem,
#Securitization .securitization-top,
#Securitization .securitization-bottom,
/* #vogon .vogon-top, */
#Merchantcoin03 .Merchantcoin03-bottom,
#Merchantcoin03 .Merchantcoin03-top,
#Merchantcoins .bottom,
#Utilitytoken .bottom,
#Utilitytoken .top,
#vogon .vogon-bottom,
#introduction .top,
#introduction .bottom,
section#prospective .bottom,
#Introductionrwdpoints .top,
#Introductionrwdpoints .bottom {
  padding: 100px 0;
}

@media screen and (max-width: 1200px) {
  #Securitization .securitization-top,
#Securitization .securitization-bottom,
  #ecosystem,
  #indextoken,
  #Merchantcoin03 .Merchantcoin03-bottom,
  #Merchantcoin03 .Merchantcoin03-top,
  #Merchantcoins .bottom,
  /* #vogon .vogon-top, */
  #Utilitytoken .top,
  #Utilitytoken .bottom,
  #vogon .vogon-bottom,
  #introduction .top,
  #introduction .bottom,
  section#prospective .bottom,
  #Introductionrwdpoints .top,
  #Introductionrwdpoints .bottom {
    padding: 60px 0;
  }
}

@media screen and (max-width: 600px) {
  #Securitization .securitization-top,
#Securitization .securitization-bottom,
  #indextoken,
  #ecosystem,
  /* #vogon .vogon-top, */
  #Merchantcoin03 .Merchantcoin03-bottom,
  #Merchantcoin03 .Merchantcoin03-top,
  #Merchantcoins .bottom,
  #vogon .vogon-bottom,
  section#prospective .bottom,
  #Utilitytoken .top,
  #Utilitytoken .bottom,
  #introduction .top,
  #introduction .bottom,
  #Introductionrwdpoints .top,
  #Introductionrwdpoints .bottom {
    padding: 30px;
  }
}
